In [6]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import os
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
from functools import reduce

In [7]:
app_train = pd.read_csv('../1_data_import/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

Training data shape:  (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
bureau = pd.read_csv('../1_data_import/bureau.csv')
print('Bureau shape: ', bureau.shape)
bureau.head()

Bureau shape:  (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [9]:
bureau["CREDIT_ACTIVE_NUM"] = np.where(bureau["CREDIT_ACTIVE"]=="Closed",0,1)
bureau.sort(columns=["SK_ID_CURR","SK_ID_BUREAU"])

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_NUM
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.000,0.000,0.000,0.0,Consumer credit,-155,0.000,0
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.000,0.000,0.000,0.0,Consumer credit,-155,0.000,0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.000,0.000,0.000,0.0,Consumer credit,-155,0.000,0
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.000,0.000,0.000,0.0,Consumer credit,-155,0.000,0
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.000,113166.000,0.000,0.0,Consumer credit,-6,4630.500,1
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.000,373239.000,0.000,0.0,Consumer credit,-16,10822.500,1
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.000,110281.500,NaN,0.0,Consumer credit,-10,9364.500,1
1486113,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.000,0
1337779,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.000,0.000,0.0,Consumer credit,-7,0.000,1
675684,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.000,0
675685,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.000,NaN,0.0,Credit card,-47,NaN,0
675686,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.000,0.000,0.0,Consumer credit,-1185,0.000,0
675687,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.000,0
675688,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.000,0.000,0.0,Consumer credit,-34,0.000,0
675689,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.000,31988.565,0.0,Credit card,-24,0.000,1
1024666,100003,5885877,Closed,currency 1,-2586,0,-2434.0,-2131.0,0.000,0,22248.000,0.000,0.000,0.0,Consumer credit,-2131,NaN,0
1024667,100003,5885878,Closed,currency 1,-1636,0,-540.0,-540.0,0.000,0,112500.000,0.000,0.000,0.0,Credit card,-540,NaN,0
1024668,100003,5885879,Closed,currency 1,-775,0,-420.0,-621.0,0.000,0,72652.500,0.000,0.000,0.0,Consumer credit,-550,NaN,0
1024669,100003,5885880,Active,currency 1,-606,0,1216.0,NaN,0.000,0,810000.000,0.000,810000.000,0.0,Credit card,-43,NaN,1
363104,100004,6829133,Closed,currency 1,-1326,0,-595.0,-683.0,NaN,0,94500.000,0.000,0.000,0.0,Consumer credit,-682,NaN,0
363105,100004,6829134,Closed,currency 1,-408,0,-382.0,-382.0,0.000,0,94537.800,0.000,0.000,0.0,Consumer credit,-382,NaN,0
1421814,100005,6735200,Closed,currency 1,-373,0,-128.0,-123.0,NaN,0,58500.000,0.000,0.000,0.0,Credit card,-121,0.000,0
1421815,100005,6735201,Active,currency 1,-137,0,1324.0,NaN,NaN,0,568800.000,543087.000,0.000,0.0,Consumer credit,-11,0.000,1
1421816,100005,6735202,Active,currency 1,-62,0,122.0,NaN,0.000,0,29826.000,25321.500,0.000,0.0,Consumer credit,-31,4261.500,1
1503966,100007,5987200,Closed,currency 1,-1149,0,-783.0,-783.0,0.000,0,146250.000,0.000,0.000,0.0,Consumer credit,-783,NaN,0
1616817,100008,6491432,Closed,currency 1,-1097,0,-792.0,-790.0,NaN,0,95134.500,0.000,0.000,0.0,Consumer credit,-790,NaN,0
718761,100008,6491433,Closed,currency 1,-1097,0,-853.0,-1028.0,NaN,0,105705.000,0.000,0.000,0.0,Consumer credit,-1027,NaN,0
718762,100008,6491434,Active,currency 1,-78,0,471.0,NaN,0.000,0,267606.000,240057.000,0.000,0.0,Consumer credit,-16,NaN,1
1279712,100009,5650996,Closed,currency 1,-684,0,-313.0,-313.0,NaN,0,61965.000,0.000,0.000,0.0,Consumer credit,-283,NaN,0
1279713,100009,5650997,Closed,currency 1,-782,0,1044.0,-415.0,NaN,0,351000.000,0.000,0.000,0.0,Consumer credit,-375,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776765,456249,5371696,Closed,currency 1,-1454,0,-1181.0,-1240.0,18945.000,0,120183.660,0.000,0.000,0.0,Consumer credit,-1240,NaN,0
1534302,456249,5371697,Closed,currency 1,-2050,0,-1960.0,-1954.0,NaN,0,43447.500,0.000,0.000,0.0,Consumer credit,-770,NaN,0
1534303,456249,5371698,Closed,currency 1,-1912,0,-1727.0,-1709.0,NaN,0,248692.500,0.000,0.000,0.0,Consumer credit,-779,NaN,0
1534304,456249,5371699,Closed,currency 1,-2049,0,-1960.0,-1960.0,NaN,0,43447.500,0.000,NaN,0.0,Consumer credit,-1765,NaN,0
776766,456249,5371700,Closed,currency 1,-1911,0,-1727.0,-1740.0,NaN,0,248692.500,0.000,NaN,0.0,Consumer credit,-1723,NaN,0
776767,456249,5371701,Closed,currency 1,-1490,0,-1125.0,-1165.0,NaN,0,450000.000,NaN,NaN,0.0,Consumer credit,-1165,NaN,0
776768,456249,5371702,Closed,currency 1,-1250,0,-914.0,-914.0,NaN,0,540000.000,NaN,NaN,0.0,Consumer credit,-909,NaN,0
1534305,456249,5371703,Closed,currency 1,-1165,0,-903.0,-903.0,NaN,0,450000.000,NaN,NaN,0.0,Consumer credit,-900,NaN,0
1534306,456249,5371704,Active,currency 1,-483,0,1363.0,NaN,NaN,0,180000.000,163071.000,NaN,0.0,Credit card,-12,NaN,1
1534307,456249,5371705,Closed,currency 1,-1680,0,NaN,-291.0,0.000,0,315000.000,0.000,0.000,0.0,Credit card,-208,NaN,0
1534308,456249,5371706,Closed,currency 1,-903,0,-658.0,-658.0,0.000,0,765000.000,0.000,0.000,0.0,Another type of loan,-657,NaN,0
1263016,456250,6817236,Closed,currency 1,-1002,0,-272.0,-760.0,NaN,0,483349.500,0.000,0.000,0.0,Consumer credit,-127,384147.000,0
1263017,456250,6817237,Active,currency 1,-760,0,1797.0,NaN,0.000,0,2153110.050,1840308.480,0.000,0.0,Consumer credit,-23,51799.500,1
1263018,456250,6817238,Active,currency 1,-824,0,2340.0,NaN,0.000,0,450000.000,391731.615,58268.385,0.0,Credit card,-31,27757.395,1
479582,456253,5113039,Active,currency 1,-919,0,387.0,NaN,NaN,0,360000.000,171036.000,0.000,0.0,Credit card,-179,58369.500,1
312586,456253,6098498,Closed,currency 1,-919,0,-189.0,-794.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-128,58369.500,0
312587,456253,6098499,Closed,currency 1,-919,0,-189.0,-794.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-701,58369.500,0
639151,456253,6230038,Active,currency 1,-713,0,1113.0,NaN,NaN,0,2250000.000,1624797.000,0.000,0.0,Consumer credit,-5,NaN,1
1578578,456254,6669849,Closed,currency 1,-1104,0,-859.0,-859.0,NaN,0,45000.000,0.000,NaN,0.0,Consumer credit,-401,0.000,0
1010003,456255,5126327,Closed,currency 1,-1022,0,-959.0,-958.0,NaN,0,22995.000,0.000,0.000,0.0,Consumer credit,-890,0.000,0
1010004,456255,5126328,Closed,currency 1,-970,0,-621.0,-712.0,NaN,0,27472.500,0.000,0.000,0.0,Consumer credit,-700,NaN,0
1010005,456255,5126329,Active,currency 1,-573,0,523.0,NaN,NaN,0,553500.000,324171.000,0.000,0.0,Consumer credit,-19,0.000,1
1010006,456255,5126330,Closed,currency 1,-1021,0,-959.0,-959.0,NaN,0,22995.000,0.000,NaN,0.0,Consumer credit,-953,3244.500,0
1010007,456255,5126331,Active,currency 1,-1020,0,806.0,NaN,NaN,0,810000.000,595102.500,NaN,0.0,Consumer credit,-8,0.000,1
1010008,456255,5126332,Active,currency 1,-378,0,27320.0,NaN,NaN,0,90000.000,61060.500,NaN,0.0,Credit card,-11,NaN,1
1010009,456255,5126333,Active,currency 1,-363,0,1463.0,NaN,0.000,0,436032.000,363573.540,0.000,0.0,Consumer credit,-25,0.000,1
1010010,456255,5126334,Active,currency 1,-451,0,279.0,NaN,15439.905,0,450000.000,191005.470,0.000,0.0,Consumer credit,-55,3244.500,1
1010011,456255,5126335,Closed,currency 1,-1512,0,315.0,-781.0,25578.000,0,900000.000,NaN,NaN,0.0,Consumer credit,-781,0.000,0
1010012,456255,5126336,Closed,currency 1,-2337,0,8620.0,-779.0,2646.000,1,38925.000,NaN,NaN,0.0,Credit card,-779,3244.500,0
1010013,456255,5126337,Closed,currency 1,-2337,0,-1243.0,-1621.0,16618.500,0,450000.000,NaN,NaN,0.0,Consumer credit,-1621,0.000,0

In [10]:
#bureau_sample = bureau.head(100000)
bureau_max = bureau.groupby("SK_ID_CURR").max()
bureau_max.columns = ["ALL_MAX_"+x for x in bureau_max.columns]
bureau_count = bureau.groupby("SK_ID_CURR").count()
bureau_count.columns = ["ALL_COUNT_"+x for x in bureau_count.columns]
bureau_mean = bureau.groupby("SK_ID_CURR").mean()
bureau_mean.columns = ["ALL_MEAN_"+x for x in bureau_mean.columns]
bureau_sum = bureau.groupby("SK_ID_CURR").sum()
bureau_sum.columns = ["ALL_SUM_"+x for x in bureau_sum.columns]

In [11]:
bureau_max = bureau_max.reset_index()
bureau_count = bureau_count.reset_index()
bureau_mean = bureau_mean.reset_index()
bureau_sum = bureau_sum.reset_index()

In [12]:
bureau_balance = pd.read_csv('../1_data_import/bureau_balance.csv')
bureau_balance_last_active = bureau_balance[bureau_balance.STATUS!='C'].groupby('SK_ID_BUREAU').max().reset_index()

In [13]:
bureau_from_last_12M = pd.merge(bureau
                                ,bureau_balance_last_active
                                ,how="left"
                                ,on = "SK_ID_BUREAU"
                               )
bureau_from_last_12M = bureau_from_last_12M[bureau_from_last_12M.MONTHS_BALANCE>=-12]

In [14]:
#bureau_sample = bureau.head(100000)
bureau_max_from_last_12M = bureau_from_last_12M.groupby("SK_ID_CURR").max()
bureau_max_from_last_12M.columns = ["12M_MAX_"+x for x in bureau_max_from_last_12M.columns]
bureau_count_from_last_12M = bureau_from_last_12M.groupby("SK_ID_CURR").count()
bureau_count_from_last_12M.columns = ["12M_COUNT_"+x for x in bureau_count_from_last_12M.columns]
bureau_mean_from_last_12M = bureau_from_last_12M.groupby("SK_ID_CURR").mean()
bureau_mean_from_last_12M.columns = ["12M_MEAN_"+x for x in bureau_mean_from_last_12M.columns]
bureau_sum_from_last_12M = bureau_from_last_12M.groupby("SK_ID_CURR").sum()
bureau_sum_from_last_12M.columns = ["12M_SUM_"+x for x in bureau_sum_from_last_12M.columns]

In [15]:
bureau_max_from_last_12M = bureau_max_from_last_12M.reset_index()
bureau_count_from_last_12M = bureau_count_from_last_12M.reset_index()
bureau_mean_from_last_12M = bureau_mean_from_last_12M.reset_index()
bureau_sum_from_last_12M = bureau_sum_from_last_12M.reset_index()

In [16]:
dfs = [bureau_max,bureau_count,bureau_max_from_last_12M,bureau_count_from_last_12M,bureau_mean_from_last_12M,bureau_sum_from_last_12M,bureau_mean,bureau_sum]

In [17]:
bureau_final = reduce(lambda left,right: pd.merge(left,right,on='SK_ID_CURR'), dfs)

In [18]:
bureau_final.to_csv('bureau_features.csv')